<launch>
    <node pkg="filter_synchronizer1" type="synchronizer_node2" name="sychronizer" output="screen">
        <param name="recording_frequency" value="0.04" type="double"/>
        <param name="recording_counter" value="20" type="int"/>
        <!--<param name="use_frequency" value="true" type="bool"/>-->
        <!--true: frequency and false: rate-->
        <!--<param name="direct" command="$(find filter_synchronizer1)/create_directory.sh"/>-->
    </node>

</launch>